body {
     width: 100vw;
     height: 100vh;
}

.info {
     justify-content: center;
     align-items: center;
     height: 88%;
}

#info-container {
     background-color: rgba(54, 171, 169, 0.468);
     width: 60%;
     height: auto;
     gap: 15px;
     padding: 15px 50px;
     backdrop-filter: blur(3px);
     border-radius: 30px 5px;
     color:bisque;
     /* z-index: 10; */
}

.hero-name {
     justify-content: center;
}

.hero-img-and-more-info {
     gap: 30px;
}

.hero-img {
     width: 20%;
     height: auto;
     min-width: 120px;
     border-radius: 26px 6px;
}

.more-info {
     gap: 15px;
     font-size: 1.3rem;
}

.id,.comics,.series,.stories {
     gap: 5px;
}

.hero-discription{
     font-size: 1.1rem;
}
.hero-discription b{
     font-size: 1.3rem;
}

.bg-img {
     z-index: -1;
}

@media screen and (max-width: 576px) {
     .hero-img-and-more-info{
          flex-direction: column;
          align-items: center;
     }
     .hero-discription{
          text-align: center;
     }
     #info-container{
          width: 85%;
          border-radius: 20px 5px;

     }
  
     #landscapeImage{
          width:100%;
          border-radius: 26px 6px;
          padding-top: 10px;
     }
     .info{
          height: auto;
          align-items:normal;
          margin-top: 10px;
          

     }
     .more-info{
          gap: 0px;
     }

}